.HomeSearch {
  width: 782px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  &__campusSelector {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding-left: 32px;

    &--item {
      pointer-events: initial;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #4c4c4c;
      width: 80px;
      height: 100%;
      font-size: 16px;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;

      &.--neu {
        margin-right: 16px;

        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid #e63946;
        }
      }

      &.--cps {
        margin-right: 16px;

        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid #ff9f1c;
        }
      }

      &.--law {
        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid #457b9d;
        }
      }
    }
  }

  &__searchBar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    padding: 24px 32px;

    @media only screen and (max-width: 830px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &--dropdown {
      border-radius: 5px 0 0 5px;
      height: 46px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      min-width: max-content;

      @media only screen and (max-width: 830px) {
        background-color: transparent;
        margin: 15px 0;
      }
    }

    &--input {
      border-radius: 0 5px 5px 0;
      height: 46px;
      width: 100%;

      & > div {
        height: 100%;
        width: 100%;
        background: #f5f5f5;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #e8e8e8;

        & > div {
          width: 54px;
        }

        @media only screen and (max-width: 830px) {
          border: 1px solid #979797;
        }

        // on small screen, make top bar rounded on both edges
        @media only screen and (min-width: 830px) {
          border-radius: 0 5px 5px 0;

          & > div {
            border-radius: 0 5px 5px 0;
          }
        }

        &:focus-within {
          box-shadow: none;
        }

        & > input {
          background: #f5f5f5;
          font-family: Lato, sans-serif;
          font-size: 17px;

          &::placeholder {
            font-family: Lato, sans-serif;
            color: #717171;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 830px) {
    width: 100%;

    &__campusSelector {
      justify-content: center;
      padding-left: 0;
    }

    &__searchBar {
      padding: 24px 12px 0;
    }
  }
}
