// Custom color names
$neu-red: #e63946;
$cps-yellow: #ff9f1c;
$law-blue: #457b9d;
$matte-white: rgb(236, 236, 236);

$component-colors: (
  // Map key names use dashes to follow standard Sass naming conventions

  // --- Pages ---
  // Home
  "github-corner-fill": rgba(175, 174, 171, 1),
  "octocat": #fff,
  "hit-enter-text": rgba(0, 0, 0, 0.6),
  "survey-message": #a3a3a3,
  "survey-link": #5a5a5a,
  "survey-link-underline": #717171,
  // Results
  "header-bg": #fff,
  "header-shadow": rgba(31, 33, 38, 0.5),
  "header-bottom": #fff,
  "header-bottom-initial": #ddd,
  "sidebar-bg": #f6f6f6,

  // -- Panels ---
  // BaseClassPanel
  "base-class-header": #fafafa,
  "hint-text": #969696,
  "more-sections-button": #888,
  "more-sections-button-top": #ddd,
  // DesktopClassPanel
  "desktop-collapsible-trigger": #009fda,
  "desktop-collapsible-trigger-hover": #1e70bf,
  // DesktopSectionPanel
  "online-div-bg-color": rgba(9, 10, 10, 0.2),
  // EmployeePanel
  "employee-header-bg": #fafafb,
  // MobileSectionPanel
  "mobile-section-top": rgba(34, 36, 38, 0.15),
  "mobile-section-tr-bottom": $matte-white,
  "mobile-section-nth-child-bg": #fafafa,
  "mobile-section-first-col": #999,
  "mobile-section-first-col-border": $matte-white,
  "mobile-section-first-row-border": $matte-white,
  "mobile-section-title": #666,
  // SplashPage
  "splash-row-1": rgb(125, 128, 121),
  "splash-row-2": #e75353,
  "splash-row-3": rgb(221, 218, 210),
  "img-shadow": rgba(72, 75, 78, 0.44),
  "red-button": rgb(246, 104, 104),
  "red-button-shadow": rgb(215, 68, 68),
  "gray-button": rgb(175, 174, 171),
  "gray-button-shadow": rgb(125, 128, 121),
  "splash-row-1-text": white,
  "splash-row-1-rotated-square": rgb(231, 83, 83),
  "splash-row-2-text": white,
  "splash-row-2-rotated-square": rgb(125, 128, 121),
  "splash-row-3-text": rgb(125, 128, 121),
  "splash-row-3-rotated-square": rgb(174, 69, 67),

  // -- Results --
  // DesktopSectionPanel
  "seat-count-green": #27ae34,
  "seat-count-yellow": #ffbf3d,
  "seat-count-red": #d41b2c,
  // MobileSearchResult
  "mobile-result-header": #fafafa,
  "mobile-result-header-border": #dededf,
  "mobile-result-header-shadow": rgba(0, 0, 0, 0.25),
  "mobile-result-class-title": #505050,
  "mobile-result-panel": #fff,
  "mobile-result-panel-shadow": rgba(0, 0, 0, 0.25),
  "mobile-result-panel-border": #dededf,
  "mobile-result-show-more": #d41b2c,
  "mobile-result-collapsible-title": black,
  "mobile-result-show-all": #fafafb,
  "mobile-result-show-all-border": #dededf,
  // MobileSectionPanel
  "mobile-section-border": #cbcbcb,
  "mobile-section-color": black,
  // NotifCheckBox
  "notif-switch-label": #d3d3d3,
  "notif-switch-button": #a0a0a0,
  "notif-switch-button-shadow": rgba(10, 10, 10, 0.29),
  "notif-switch-checked": #afc1d3,
  "notif-switch-buttom-checked": #338ef1,
  "notif-subscribe-button": #338ef1,
  "notif-subscribe-button-span": #fff,
  "notif-subscribe-button-checked": #27ae34,
  // SearchResult
  "result-bg": #fff,
  "result-shadow": rgba(34, 36, 38, 0.15),
  "result-border": rgba(34, 36, 38, 0.15),
  "result-header": #fafafa,
  "result-credit-text": #474747,
  "result-updated-msg": #505050,
  "result-description-none-text": #969696,
  "result-section-border": #e9e9e9,
  "result-section-primary": #fafafb,
  "result-section-secondary": #fff,
  "result-show-all-bar": #fafafb,
  // WeekdayBoxes
  "weekday-box": #fafafb,
  "weekday-box-text": #979797,
  "weekday-box-border": #979797,
  "weekday-box-checked": #a5c0dd,
  "weekday-box-checked-text": #000,

  // CheckboxFilter
  "checkbox-filter-text-hover": #eaeaea,
  "checkbox-filter-count": #888,
  "checkbox-border": #888,
  "checkbox-check": #fff,
  "checkbox-filter-checked": #d41b2c,
  "checkbox-filter-checked-border": #d41b2c,
  "checkbox-filter-box-hover": #eaeaea,
  // DropdownFilter
  "dropdown-filter-search": white,
  "dropdown-filter-disabled": #d3d3d3,
  "dropdown-filter-pill": #e6e6e6,
  "dropdown-filter-pill-border": #afafaf,
  "dropdown-filter-pill-text": #4f4f4f,
  "dropdown-filter-no-results-found": #fff,
  "dropdown-filter-no-results-found-border": #f5f5f5,
  "dropdown-filter-result": #fff,
  "dropdown-filter-result-border": #f5f5f5,
  "dropdown-filter-result-hover": #f3f3f3,
  "dropdown-filter-scrollbar-thumb": rgba(172, 172, 172, 1),
  "dropdown-filter-scrollbar-track": rgba(229, 229, 229, 1),
  // EmailInput
  "email-input-enter-email-text": gray,
  "email-input-button-text": gray,
  "email-input-button": rgba(224, 225, 226, 0.5),
  "email-input-button-border": rgba(34, 36, 38, 0.1),
  "email-input-status-text": green,
  "email-input-success-text": green,
  "email-input-error-text": #ae4543,
  // FeedbackModal
  "feedback-modal-pill-border": rgba(79, 79, 79, 0.5),
  "feedback-modal-pill": #fff,
  "feedback-modal-pill-hover-shadow": rgba(51, 142, 241, 0.5),
  "feedback-modal-popout": #f6f6f6,
  "feedback-modal-popout-shadow": rgba(0, 0, 0, 0.25),
  "feedback-modal-popout-header": #0a3767,
  "feedback-modal-popout-header-text": white,
  "feedback-modal-popout-subheader-bottom": #dbd9d9,
  "feedback-modal-popout-subheader-text": black,
  "feedback-modal-initial-text-hover": #eaeaea,
  "feedback-modal-initial-radio": #338ef1,
  "feedback-modal-initial-radio-border": rgba(0, 0, 0, 0.42),
  "feedback-modal-checkbox-hover": #eaeaea,
  "feedback-modal-checkbox-text-hover": black,
  "feedback-modal-checkbox-box-border": rgba(0, 0, 0, 0.42),
  "feedback-modal-checkbox-box-border-checked": #fff,
  "feedback-modal-checkbox-text-bg-checked": #338ef1,
  "feedback-modal-checkbox-text-border-checked": #338ef1,
  "feedback-modal-checkbox-text-bg": rgba(51, 142, 241, 0.1),
  "feedback-modal-checkbox-text-border": rgba(0, 0, 0, 0.8),
  "feedback-modal-free-selector": #fff,
  "feedback-modal-free-selector-border": #dededf,
  "feedback-modal-free-selector-border-checked": #489fff,
  "feedback-modal-free-selector-text-checked": #489fff,
  "feedback-modal-free-query-border": #dededf,
  "feedback-modal-submit": #338ef1,
  "feedback-modal-submitted": #81c860,
  "feedback-modal-submitted-text": white,
  "feedback-modal-submit-text": white,
  // FilterPills
  "filter-clear-all-text": #d41b2c,
  "filter-pill-x": #d41b2c,
  "filter-pill": #fff,
  "filter-pill-text": #4c5454,
  "filter-pill-border": #e6e6e6,
  "filter-pill-hover": #d41b2c,
  "filter-pill-border-hover": #d41b2c,
  "filter-pill-text-hover": #fff,
  "filter-pill-x-hover": #fff,
  // Filters
  "online-only-switch-track-off": #d3d3d3,
  "online-only-switch-off": #a0a0a0,
  "online-only-switch-shadow-off": rgba(10, 10, 10, 0.29),
  "online-only-switch-track-on": #ca9897,
  "online-only-switch-on": #ae4543,
  // Footer
  "footer-affiliation-text": gray,
  // MobileSearchOverlay
  "mobile-search-content-bg": #f6f6f6,
  "mobile-search-execute": #338ef1,
  "mobile-search-execute-text": #fff,
  // SearchBar
  "searchbar-border": #e2dfdf,
  "searchbar-focus-shadow": rgba(0, 0, 0, 0.2),
  "searchbar-input-text": rgba(0, 0, 0, 0.6),
  "searchbar-input-placeholder": rgba(51, 51, 51, 0.2),
  "searchbar-search-button": #d41b2c,
  // SearchHeader
  "search-header": #fff,
  "search-header-shadow": rgba(0, 0, 0, 0.5),
  "search-header-input-text": rgba(0, 0, 0, 0.6),
  "search-header-input-border": #979797,
  "search-header-term-dropdown-text": #636363,
  // SignUpForNotifications
  "fb-notif-button-text-disabled": rgba(0, 0, 0, 0.6),
  "fb-notif-button-shadow-disabled": rgba(34, 36, 38, 0.15),
  "fb-notif-toggle-cta-text": #338ef1,
  "fb-notif-seats-available-text": #27ae34,
  "fb-notif-button": #fff,
  "fb-notif-button-border": rgba(79, 79, 79, 0.5),
  "fb-notif-button-hover": #fafafa,
  "fb-notif-click-to-continue-text": gray,
  // TermDropDown
  "term-dropdown-text": #636363,

  // -- Extras --
  "highlight": #6803ff, // use this to highlight a component in electric violet
);
