@import 'ColorMap';

.DropdownFilter {
  font-family: lato, sans-serif; //TO-DO: Change all fonts in filter sidebar
  min-height: 36px;
  min-width: 238px;

  &:focus {
    outline: none;
  }

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  &__search {
    background: map-get($component-colors, "dropdown-filter-search");
    position: relative;
    padding: 5px 24px 5px 5px;
    border-radius: 7px;

    &.expanded {
      border-radius: 7px 7px 0 0;
    }

    &.disabled {
      background-color: map-get($component-colors, "dropdown-filter-disabled");
    }
  }

  &__inputElement {
    display: inline-block;
    vertical-align: baseline;
    background: map-get($component-colors, "dropdown-filter-pill");
    border: 1px solid map-get($component-colors, "dropdown-filter-pill-border");
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    color: map-get($component-colors, "dropdown-filter-pill-text");
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
    padding: 0 5px;

    &:hover {
      color: map-get($component-colors, "dropdown-filter-pill-text");
    }
  }

  &__inputDelete {
    margin-left: 5px;
  }

  &__input {
    border: none;
    border-radius: 7px 7px;
    padding-left: 10px;
    display: inline;

    &:focus {
      outline: none;
    }

    &.disabled {
      background-color: map-get($component-colors, "dropdown-filter-disabled");
      pointer-events: none;
    }
  }

  &__icon {
    position: absolute;
    top: 14px;
    right: 12px;
    transition-duration: 0.5s;
    transition-property: transform;
    transform: rotate(0deg);
    transform-origin: top center;

    &:hover {
      cursor: pointer;
    }

    &.expanded {
      top: 16px;
      transition-duration: 0.5s;
      transition-property: transform;
      transform: rotate(180deg);
      transform-origin: top center;
    }

    &.disabled {
      &:hover {
        cursor: default;
      }
    }
  }

  &__dropdown {
    position: relative;

    &:focus {
      outline: none;
    }
  }

  &__selectable {
    position: absolute;
    overflow-y: auto;
    z-index: 100000000;
    max-height: 180px;
    border-radius: 0 0 7px 7px;
    width: 100%;
  }

  &--noResults {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    height: 55px;
    background: map-get($component-colors, "dropdown-filter-no-results-found");
    border: 1px solid map-get($component-colors, "dropdown-filter-no-results-found-border");
    box-sizing: border-box;
    border-radius: 0;
    text-align: center;
    align-items: center;
  }

  &__element {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    height: 55px;
    background: map-get($component-colors, "dropdown-filter-result");
    border: 1px solid map-get($component-colors, "dropdown-filter-result-border");
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }

  &__element:hover {
    background: map-get($component-colors, "dropdown-filter-result-hover");
  }

  &__elementText {
    padding-right: 4px;
    display: inline-block;
    color: black;
  }

  &__elementCount {
    color: grey;
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($component-colors, "dropdown-filter-scrollbar-thumb");
  }

  ::-webkit-scrollbar-track {
    background-color: map-get($component-colors, "dropdown-filter-scrollbar-track");
  }
}
