.selected-filters {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &__label {
    font-weight: bold;
    margin-right: 7px;
    flex-shrink: 0;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-bottom: -5px;
  }

  &__clear {
    cursor: pointer;
    color: map-get($component-colors, "filter-clear-all-text");
    padding: 0 10px;
    line-height: 30px;
  }

  &__clear:hover {
    text-decoration: underline;
  }
}

/* for clearing filters when there are no results */
.no-results__clear {
  cursor: pointer;
  color: map-get($component-colors, "filter-clear-all-text");
  padding: 0 5px;
  display: inline;
  line-height: 30px;
}

.no-results__clear:hover {
  text-decoration: underline;
}

.FilterPill {
  $root: &;

  &__icon {
    margin-left: 25px;
    position: relative;

    &::before,
    &::after {
      top: 50%;
      right: 50%;
      position: absolute;
      content: "";
      width: 14px; /* x size */
      height: 1.5px; /* x thickness */
      border-radius: 25px;
      background-color: map-get($component-colors, "filter-pill-x");
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__close {
    height: 30px;
    background: map-get($component-colors, "filter-pill");
    white-space: nowrap;
    color: map-get($component-colors, "filter-pill-text");
    border-radius: 7px;
    border: 0.5px solid map-get($component-colors, "filter-pill-border");
    cursor: pointer;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 5px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: map-get($component-colors, "filter-pill-hover");
      border-color: map-get($component-colors, "filter-pill-border-hover");
      color: map-get($component-colors, "filter-pill-text-hover");
    }

    &:hover .FilterPill__icon::before,
    &:hover .FilterPill__icon::after {
      background-color: map-get($component-colors, "filter-pill-x-hover");
    }
  }

  &__verbose {
    display: none;

    @media only screen and (min-width: 700px) {
      display: inline;
    }
  }

  &__compact {
    @media only screen and (min-width: 700px) {
      display: none;
    }
  }
}
