.searchbar {
  height: 40px;
  pointer-events: initial;
  display: flex;
  align-items: stretch;
  border: 1px solid map-get($component-colors, "searchbar-border");
  border-radius: 10px;

  &:focus-within {
    box-shadow: 0 0 5px map-get($component-colors, "searchbar-focus-shadow");
  }

  &__input {
    flex-grow: 2;
    margin: 2px 15px 2px;
    border: none;
    font-size: 16px;
    color: map-get($component-colors, "searchbar-input-text");

    &::placeholder {
      color: map-get($component-colors, "searchbar-input-placeholder");
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: map-get($component-colors, "searchbar-search-button");
    border-radius: 0 9px 9px 0;
    width: 50px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
