.notif-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.notif-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 20px;
  background: map-get($component-colors, "notif-switch-label");
  border-radius: 36px;
  transition: background-color 0.01s;

  .notif-switch-button {
    content: "";
    position: relative;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.4s;
    background: map-get($component-colors, "notif-switch-button");
    box-shadow: 0 0 2px 0 map-get($component-colors, "notif-switch-button-shadow");
  }
}

.notif-switch-checkbox:checked + .notif-switch-label {
  background: map-get($component-colors, "notif-switch-checked");

  .notif-switch-button {
    background: map-get($component-colors, "notif-switch-button-checked");
    left: 100%;
    transform: translateX(-100%);
  }
}

.notifSwitch {
  display: flex;
}

.notifSubscribeButton {
  background: map-get($component-colors, "notif-subscribe-button");
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  cursor: pointer;

  & > span {
    font-size: 14px;
    line-height: 17px;
    color: map-get($component-colors, "notif-subscribe-button-span");
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.notifSubscribeButton--checked {
  background: map-get($component-colors, "notif-subscribe-button-checked");
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  cursor: pointer;

  & > svg {
    margin-right: 4px;
  }

  & > span {
    font-size: 14px;
    line-height: 17px;
    color: map-get($component-colors, "notif-subscribe-button-span");
  }

  &:focus,
  &:active {
    outline: none;
  }
}
