.WeekdayBoxes {
  display: inline-flex;
  flex-direction: row;
  width: 126px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: center;

  &__box {
    display: block;
    width: 18px;
    height: 18px;
    background: map-get($component-colors, "weekday-box");
    color: map-get($component-colors, "weekday-box-text");
    border: 0.5px solid map-get($component-colors, "weekday-box-border");

    &--checked {
      display: block;
      width: 18px;
      height: 18px;
      background: map-get($component-colors, "weekday-box-checked");
      color: map-get($component-colors, "weekday-box-checked-text");
      border: 0.5px solid map-get($component-colors, "weekday-box-border");
    }
  }

  &__box:nth-child(even) {
    border-left: none;
    border-right: none;
  }

  &__box--checked:nth-child(even) {
    border-left: none;
    border-right: none;
  }
}
