.alertBannerContainer {
  z-index: 100000;
  top: 0px;
  width: 100%;
}

.alertBanner {
  filter: drop-shadow(3px 1px 4px grey);
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 15px;
  width: 100%;

  &__parent {
    display: flex;
  }

  //when its a mobile device, turn it to columns.
  &__mobileParent {
    display: flex;
    flex-direction: column;
  }

  &__text {
    flex: 5;
  }

  &__back {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 30px;
  }

  &__back:hover {
    cursor: pointer;
  }
}

.errorBanner {
  background-color: rgb(253, 236, 234);
  color: rgb(97, 26, 21);
}
.warningBanner {
  background-color: rgb(255, 244, 229);
  color: rgb(102, 60, 0);
}
.infoBanner {
  background-color: rgb(232, 244, 253);
  color: rgb(13, 60, 97);
}
