.InfoIconTooltip {
  background: transparent;
  &__icon {
    &:hover + .tooltip {
      display: block;
      background: #1d3557;
      white-space: wrap;
      width: 250px;
      padding: 10px;
      z-index: 100000;
      & > div {
        border-color: transparent transparent #1d3557 transparent;
      }
    }
  }

  pointer-events: initial;
  &:hover {
    cursor: pointer;
  }
  width: 15px !important;
  background: transparent !important;
  margin-top: 10px;
  margin-left: 7px;
}
