.InfoIconTooltip {
  background: transparent;
  position: relative;

  &__icon {
    &:hover + .tooltip {
      display: block;
      background: #1d3557;
      white-space: wrap;
      width: 225px;
      padding: 7px;
      z-index: 100000;

      & > .tooltip__arrow--DOWN {
        border-color: transparent transparent #1d3557 transparent;
      }

      & > .tooltip__arrow--UP {
        border-color: #1d3557 transparent transparent transparent;
      }
    }
  }

  pointer-events: initial;
  &:hover {
    cursor: pointer;
  }
  width: 15px !important;
  background: transparent !important;
  margin-top: 10px;
  margin-left: 7px;
}
