.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;
  background: #fafafb;
  overflow: hidden;

  animation-duration: 0.2s;
  animation-name: popIn;
  animation-timing-function: ease;

  @keyframes popIn {
    0% {
      transform: scale(0.95);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }
}
