.searchbar {
  height: 40px;
  pointer-events: initial;
  display: flex;
  align-items: stretch;
  border: 1px solid #e2dfdf;
  border-radius: 10px;

  &:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &__input {
    flex-grow: 2;
    margin: 2px 15px 2px;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);

    &::placeholder {
      color: rgba(51, 51, 51, 0.2);
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 9px 9px 0;
    width: 50px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.red {
      background: #d41b2c;
    }

    &.yellow {
      background: #ff9f1c;
    }

    &.blue {
      background: #457b9d;
    }
  }

  @media only screen and (max-width: 767px) {
    border: 1px solid #d41b2c;
  }
}
